# Ignore node_modules
node_modules

# Ignore build output
dist

# Ignore VSCode settings
.vscode

# Ignore Yarn lockfile
yarn.lock

# Ignore specific files or directories if needed
# Add more patterns as necessary
