:root {
  --vscode-badge-background: #4d4d4d;
  --vscode-badge-foreground: #ffffff;
  --vscode-activityBarBadge-background: #007acc;
  --vscode-activityBarBadge-foreground: #ffffff;
}

vscode-badge {
  background-color: var(--vscode-badge-background);
  color: var(--vscode-badge-foreground);
  padding: 2px 6px;
  border-radius: 11px;
  font-size: 11px;

  &[type="activity"] {
    background-color: var(--vscode-activityBarBadge-background);
    color: var(--vscode-activityBarBadge-foreground);
  }
}
