vscode-radio {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--vscode-foreground);
  font-family: var(--vscode-font-family);
  font-size: var(--vscode-font-size);
  cursor: pointer;

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

vscode-radio-group {
  display: flex;
  width: 100%;

  &[variant="vertical"] {
    flex-direction: column;
    gap: 8px;
  }

  &[variant="horizontal"] {
    flex-direction: row;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;

    vscode-radio {
      cursor: not-allowed;
    }
  }
}
