vscode-single-select {
  --vscode-select-background: var(--vscode-dropdown-background);

  &::part(control) {
    background-color: var(--vscode-dropdown-background);
  }
}

vscode-option {
  --vscode-option-background: var(--vscode-dropdown-background);

  &::part(base) {
    background-color: var(--vscode-dropdown-background);
  }

  &:hover::part(base) {
    background-color: var(--vscode-list-hoverBackground);
  }

  &[selected]::part(base) {
    background-color: var(--vscode-list-activeSelectionBackground);
    color: var(--vscode-list-activeSelectionForeground);
  }
}

.select-popup {
  background-color: var(--vscode-dropdown-background);
}
